@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
body {
  background-color: grey;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
 
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  background-color: whitesmoke;
  padding: 1em;
}

.main-header {
  background: url("../assets/header.png");
  background-size: cover; /*fyll hela ytan*/
  background-position: center; /*centrerar bilden*/
  opacity: 0.65; 
  height: 50vh;
  position: relative;


}


  .main-header h1 {
    position: absolute;
    top: 50%;        /* mitten i höjdled */
    left: 50%;       /* mitten i bredd */
    font-size: 2.5em;
    color: beige;
    text-align: center;
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
    margin: 0;
  }




/**Huvudmeny**/

.main-header nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: left;
  
}
.main-header nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

.main-header nav li {
  display: inline-block; /*får menyn på samma rad istället för att dom ligger som egna blockelement. Skillnad inline och inline block = inline blir bara text men med inline block kan vi styra padding, stolek osv*/ 
  margin-right: -1px; /*tog bort lite av mellanrummen mellan knapparna*/
}

/*stylar A taggen istället för li för att man ska kunna klicka på hela ytan*/
.main-header nav li a {
  display: inline-block;
  height: 50px;
  line-height: 50px; /*sätter jag line height på samma som height hamnar texten i mitten*/
  background-color: rgba(255, 255, 255, 0.7); /*lite transparens på knapparna så bakgrunden syns igenom*/
  text-decoration: none; /*bort med understreck*/
  color: black;
  padding: 0 1em 0 1em; /*padding ej uppe, till höger, inget nere, till vänster*/
  transition: background-color 0.3s; /*animerar in till färgen så övergånen blir snyggare*/

}

.main-header nav li.current a {
  background-color: rgba(255, 255, 255, 1); /*tydligt vilken sida man står på*/
}

.main-header nav li a:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.bildserie {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  flex-wrap: wrap; /*radbryter snyggt på mindre skärmar*/
  gap: 1rem;

}

.bildserie img {
  width: 300px;
  height: 450px;

 border-radius: 10px; /*rundar hörnen*/
}

.katten {
  object-position: top center;
}

.kossan {
  object-position: center;
}

.blomman {
  object-position: center;
}


.redigeradebilder {
  display: grid;
  grid-template-columns: 1fr; /* bara en kolumn */
  gap: 2rem;
  justify-items: center;
}

figure {
  display: flex;              
  flex-direction: row;          /* sida vid sida på dator */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  gap: 1rem;                   /* lite luft mellan bilderna */
}

figure img {
  width: 350px;                  /* lite mindre än 50% för luft */
  border-radius: 8px;
  height: 500px;                /* låt höjden följa proportionerna */
 
}

figcaption {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  width: 100%;                 /* gör att texten hamnar under båda bilderna */
}



/**Media query**/
@media(max-width: 900px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}
 /* #news {order 2;} = hur dom hamnar i ordning 1,2 3. */

 @media(max-width: 600px) {
  .main-header nav {
    position: fixed; /*sitter kvar alltid oavsett hur den scrollas*/
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;

  } 
  .main-header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3em;
    justify-content: space-evenly;
    padding: 0 0.3em; /*så knapparna inte ligger direkt mot skärmkanten*/
  }

  .main-header nav li {
    flex: 1;
  }
  .main-header nav li a {
    width: 100%;
    text-align: center;
    font-size: 0.8em; 
  }
  body {
    font-size: 1.5em;
  }

  .redigeradebilder {
   grid-template-columns: 1fr !important;
    
  
  }
  figure {
    flex-direction: column;   /* staplar bilderna vertikalt */
  }

  figure img {
    width: 100%;              /* låt varje bild ta hela bredden */
    max-height: none;
  }

  figcaption {
    font-size: 1rem;
  }

  figcaption {
    font-size: 0.9rem;     /* gör texten något mindre på mobil */
  }

 }