@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
body {
  background-color: beige;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
 
}

main {
  background-color: whitesmoke;
  padding: 1em;
}
