@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
body {
  background-color: grey;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
 
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  background-color: whitesmoke;
  padding: 1em;
}

.main-header {
  background: url("../assets/header.png");
  background-size: cover; /*fyll hela ytan*/
  background-position: center; /*centrerar*/
  opacity: 0.65; 


}


.main-header h1 {
font-size: 4em;
text-align: center;
color: whitesmoke;
text-shadow: 0 2px 10px rgba(0,0,0,0.6); /*textskugga använd för att se trots bild bakom*/
padding: 10px;
margin: 5px;
}

.main-header {
  margin-top: 20vh; /*viewport hela fönstret = 100*/ 
}

/**Huvudmeny**/
.main-header nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

.main-header nav li {
  display: inline-block; /*får menyn på samma rad istället för att dom ligger som egna blockelement. Skillnad inline och inline block = inline blir bara text men med inline block kan vi styra padding, stolek osv*/ 
  margin-right: -1px; /*tog bort lite av mellanrummen mellan knapparna*/
}

/*stylar A taggen istället för li för att man ska kunna klicka på hela ytan*/
.main-header nav li a {
  display: inline-block;
  height: 50px;
  line-height: 50px; /*sätter jag line height på samma som height hamnar texten i mitten*/
  background-color: rgba(255, 255, 255, 0.7); /*lite transparens på knapparna så bakgrunden syns igenom*/
  text-decoration: none; /*bort med understreck*/
  color: black;
  padding: 0 1em 0 1em; /*padding ej uppe, till höger, inget nere, till vänster*/
  transition: background-color 0.3s; /*animerar in till färgen så övergånen blir snyggare*/

}

.main-header nav li.current a {
  background-color: rgba(255, 255, 255, 1); /*tydligt vilken sida man står på*/
}

.main-header nav li a:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.bildserie {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  flex-wrap: wrap; /*radbryter snyggt på mindre skärmar*/
  gap: 1rem;

}

.bildserie img {
  
  height: 400px;

 border-radius: 10px; /*rundar hörnen*/
}

.katten {
  object-position: top center;
}

.kossan {
  object-position: center;
}

.blomman {
  object-position: center;
}
/**Grids**/ 
/*.main-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
} */

.redigeradebilder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: start;
  

}

.redigeradebilder img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px;
  padding: 10px;
}
/**Media query**/
@media(max-width: 900px) {
  .main-grid {
    grid-template-columns: 1fr;
  }
}
 /* #news {order 2;} = hur dom hamnar i ordning 1,2 3. */

 @media(max-width: 600px) {
  .main-header nav {
    position: fixed; /*sitter kvar alltid oavsett hur den scrollas*/
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;

  } 
  .main-header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3em;
    justify-content: space-evenly;
    padding: 0 0.3em; /*så knapparna inte ligger direkt mot skärmkanten*/
  }

  .main-header nav li {
    flex: 1;
  }
  .main-header nav li a {
    width: 100%;
    text-align: center;
    font-size: 0.8em; 
  }
  body {
    font-size: 1.5em;
  }

  .redigeradebilder {
   grid-template-columns: 1fr !important;
    
  
  }

 }